@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "";
}

<h2>
    @if (Model.Customer.Name == null)
    {
        @Html.Raw("New Customer")
    }
    else
    {
        @Html.Raw("Edit " + Model.Customer.Name)
    }
</h2>

<ul id="new-customer-form-errors">

</ul>

@*using (Html.BeginForm("Save", "Customers"))
{*@
<form ng-submit="onFormSubmit()" id="new-customer-form" name="newCustomerForm">
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.Name)
            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", required="required" })
            @Html.ValidationMessageFor(m => m.Customer.Name)
        </div>
        <div class="form-group">
            <label for="Customer_MembershipTypeId">Membership Type</label>
            @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId, "The Membership Type field is required.")
        </div>
        <div class="form-group">
            <label for="Customer_Birthday">Date of Birth</label>
            @Html.TextBoxFor(m => m.Customer.Birthday, "{0:d MMM yyyy}", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Customer.Birthday)
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
            </label>
        </div>
        @Html.HiddenFor(m => m.Customer.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Save</button>
</form>
@*}*@

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
